$color_1: white;
$font-family_1: 'Open Sans', sans-serif;
$background-color_1: black;

@font-face {
	font-family: 'Neue Machina';
	src: url('../assets/fonts/neue-machina-regular.otf') format('opentype');

}
* {
	box-sizing: border-box;
	font-family: $font-family_1;
}
body {
	background-color: $background-color_1;
	color: $color_1;
}
body {
	margin: .5rem;
	padding: 1rem;
	border: 1px solid #fff;
	border-radius: .5rem;
	&::before {
		content: '';
		background-image: url('@/assets/img/background/top.svg');
		background-repeat: no-repeat;
		background-size: contain;
		width: 143vw;
		height: 100vh;
		display: inline-block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
	}
	&::after {
		content: '';
		background-image: url('@/assets/img/background/top.svg');
		background-repeat: no-repeat;
		background-size: contain;
		width: 189vw;
		height: 107vh;
		display: inline-block;
		position: fixed;
		top: 0;
		right: 0;
		transform: rotate(180deg);
		z-index: -1;
	}
}
